HTML  CSS  JS Result
EDIT ON
 * {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: black;
}

.jumbotron {
    background-color: darkgray
}

div {

}

.btn-spooky {
    background-color: black;
    border-color: orange;
    color: orange;
}

#pad {
    height: 200px;
}

#pad2 {
    height: 25px;
}

.box {
  width: 350px;
  margin: 0px;
  background: darkgray;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
  font-size: 24px;
}


.boxAnswer {
  width: 90%;
  margin: 5px auto;
  background: darkorange;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position: relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid darkgray;
  border-top: 10px solid darkgray;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
  font-size: 24px;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: 19px;
  bottom: -19px;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 19px;
}